:root {
  --default-size: 1rem;
  --padding-space-small: 0.5rem;
  --padding-space-regular: 1rem;
  --padding-space-big: 2rem;
  --padding-space-header: 15rem;
  --color-white: #fff;
  --color-purple: #B39CD0;
  --color-orange: #FF8066;
  --color-red: #ff0000;
  --color-yellow: #f9c922;
  --shadow-default: 1px 1px 5px 1px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial;
  letter-spacing: normal;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

